---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/undraw_circles.svg";
import c2 from "../../assets/pics/undraw_ai-agent.svg";
import c3 from "../../assets/pics/undraw_progressive-app.svg";
import c4 from "../../assets/pics/undraw_online-transactions.svg";
import c5 from "../../assets/pics/undraw_experience-design.svg";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Technology Consulting",
    titleBottom: "",
    img: c1,
    alt: "Consulting",
    link: "#",
    body: ''
  },
  {
    index: 2,
    titleTop: "AI Innovation",
    titleBottom: "& Engineering",
    img: c2,
    alt: "SEO",
    link: "#",
  },
  {
    index: 3,
    titleTop: "Software Architecture",
    titleBottom: "& Development",
    img: c3,
    alt: "SEO",
    link: "#",
  },
  {
    index: 1,
    titleTop: "Workflow, ",
    titleBottom: "& Automation",
    img: c4,
    alt: "workflow",
    link: "#",
  },
  {
    index: 2,
    titleTop: "Interactive Experiences",
    titleBottom: "",
    img: c5,
    alt: "website",
    link: "#",
  },
  {
    index: 3,
    titleTop: "Devops",
    titleBottom: "& Monitoring",
    img: c6,
    alt: "SEO",
    link: "#",
  },
];

const description =
  "At Tronica, we offer a range of services to help businesses grow and succeed in their creative and technology ambitions. These services include";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
            body={card.body}
          />
        ))
      }
    </div>
  </div>
</Section>
