---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Meet the skilled and experienced team behind our successful digital marketing strategies";

import rhys from "../../assets/team/rhys.jpg";
import patrick from "../../assets/team/patrick.jpg";

const team = [
  {
    pic: rhys,
    name: "Rhys Turner",
    role: "Founder and Head of Innovation",
    description:
      "20+ years experience in creative concepts, ideas, direction and development specialising in the technical and digital execution of advertising, marketing and the arts.",
    link: "https://www.linkedin.com/in/rhysturner",
  },
  {
    pic: patrick,
    name: "Patrick Rabier",
    role: "Founder and Head of Technology",
    description:
      "With 15+ years of experience in the engineering field. Patrick specializes in building resilient and scalable software solutions",
    link: "https://www.linkedin.com/in/patrixr/",
  },
];

const displayTeam = team.slice(0, 6);
const showAllTeamButton = team.length > 6;
const gridRows = displayTeam.length <= 3 ? "grid-rows-1" : "grid-rows-2";
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Team" description={description} />
    <div
      class={`grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 pb-4 ${gridRows} gap-10`}
    >
      {
        displayTeam.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    {showAllTeamButton && (
      <div class="flex justify-end mt-10">
        <button class="btn-primary">See all team</button>
      </div>
    )}
  </div>
</Section>
