---
const { data, flip = false } = Astro.props;
const { id, title, subtitle, brief, image, href, tags = [] } = data;
---

<a class="card glass w-lg min-h-72" href={href} target=" _blank">
  <div class="card-body">
    <h2 class="card-title font-light">{subtitle}</h2>
    <p class="text-xl font-fancy">
      {title}
    </p>
    <p class="prose text-md text-base-900 max-w-96">
      {brief}
    </p>
    <div class="tags flex gap-2 pt-2">
      {tags.map((t: string) => <div class="badge badge-soft">{t}</div>)}
    </div>
    <div class="flex justify-end card-actions">
      <button class="btn btn-success">Discover</button>
    </div>
  </div>
</a>

<!-- <div class="card-body overflow-hidden">
    <div class="z-10 card-title prose mb-2 text-neutral-content">
      <span class="text-xl font-light">{subtitle}</span>
    </div>
    <h3 class="z-10 font-bold text-xl line text-neutral-content">
      {title}
    </h3>
    <p class="prose text-md text-base-900">
      {brief}
    </p>
    <div class="card-actions justify-between">
      <button class="btn btn-secondary">Discover</button>
      <div class="tags flex gap-2 pt-2">
        {tags.map((t: string) => <div class="badge badge-neutral">{t}</div>)}
      </div>
    </div>
  </div> -->

<!--
<div class="hidden md:flex! card card-side shadow-sm rounded-none">
  {
    flip && (
      <figure class="w-[30%]">
        <img
          class="rounded-xl"
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          alt="Card Image"
        />
      </figure>
    )
  }
  <div class="card-body bg-base-200/25">
    <h2 class="card-title">{title}</h2>
    <p>{subtitle}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Discover</button>
    </div>
  </div>
  {
    !flip && (
      <figure class="w-[30%]">
        <img
          class="rounded-xl"
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          alt="Card Image"
        />
      </figure>
    )
  }
</div> -->
